:root{
    --primary-color: #005964;
    --primary-gradient: linear-gradient(to left, var(--primary-color), #004149);
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #0083a3, #00c0f0);
    line-height: 1.6;
    size: 100%;
}

header, footer {
    background: var(--primary-gradient);
    color: white;
    text-align: center;
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    background: var(--primary-gradient);
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #c0f6ff;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
}

h2 {
    color: var(--primary-color);
}

table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.project-button{
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.project-button:hover{
    background-color: #004149;
}

@media only screen and (max-width: 600px) {
    header, footer {
        padding: 10px;
    }

    nav {
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    section {
        padding: 10px;
        margin: 10px;
    }

    #contact{
        margin-bottom: 90px;
    }
}


#contactForm {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 1px;
}
  
input {
    width: 100%;
    padding: 4px;
    margin-bottom: 2px;
    background-color: white;
    color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}
  
input:valid {
    border-color: green;
    background-color: #e3fce3;
}
  
input:invalid {
    border-color: red;
    background-color: #ffe0e0;
}
  
#contact-button {
    width: 104%;
    background-color: var(--primary-color);
    color: white;
    padding: 4px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact-button:hover {
    background-color: #004149;
}
